* {
    box-sizing: border-box;
}

:root {
    --header-bg: #10375c;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "Sora", sans-serif;
}

/* ================= Common =================*/
a {
    text-decoration: none;
}

.container {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    --height: 60px;

    display: inline-block;
    min-width: 205px;
    height: var(--height);
    line-height: var(--height);
    border: 1px solid #2e80ce;
    padding: 0 20px;
    border-radius: 30px;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
    background: #2e80ce;
}

.btn:hover {
    opacity: 0.9;
    cursor: pointer;
}

/* ================= Header =================*/

.header {
    padding-top: 30px;
    min-height: 100vh;
    background: var(--header-bg);
}

.header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: inline-flex;
    position: relative;
    font-size: 1rem;
}

.logo__circle::before,
.logo__circle::after {
    content: "";
    display: inline-block;
    border-radius: 50%;
}

.logo__circle::before {
    width: 3em;
    height: 3em;
    background: #2e80ce;
}
.logo__circle::after {
    position: absolute;
    top: 1.1em;
    left: 1.1em;
    width: 1.6em;
    height: 1.6em;
    background: #fff;
}

.logo__text {
    text-align: right;
    margin-left: 0.6em;
    line-height: 1.6em;
}
.logo__brand {
    display: block;
    font-size: 1.8em;
    font-weight: 400;
    color: #fff;
}

.logo__brand--small {
    font-size: 1.2em;
    font-weight: 300;
}

.navbar__list {
    display: flex;
}

.header-action__login,
.navbar__link {
    padding: 4px 21px;
    font-size: 1.6rem;
    font-weight: 300;
    color: #c9d2da;
}
.navbar__link:hover,
.navbar__link--active {
    text-shadow: 1px 0 0 currentColor;
    color: #fff;
}

.navbar__link--active::before {
    content: "";
    display: inline-block;
    position: relative;
    top: -2px;
    left: -8px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: #fff;
}

.header-action {
    display: flex;
    align-items: center;
}

.header-action__login {
    margin-right: 7px;
}

.header-action__signup {
    --height: 44px;
    min-width: 104px;
}

/* ================= Hero =================*/

.hero {
    margin-top: 76px;
    display: flex;
    align-items: center;
}

.hero__content {
    flex-shrink: 0;
    width: 45%;
}

.hero__heading {
    color: #fff;
    font-size: 7rem;
    font-weight: 600;
    line-height: 1.14; /* 114.286% */
    letter-spacing: -0.02rem;
}

.hero__desc {
    margin-top: 22px;
    color: #c9d2da;

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 300;
    line-height: 1.67; /* 166.667% */
}

.hero__row {
    display: flex;
    align-items: center;
    margin-top: 38px;
}

.hero__phone {
    color: #fff;
    margin-left: 38px;

    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.67; /* 166.667% */
}

.hero__media {
    flex-grow: 1;
}

.hero__image {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.hero__img {
    width: 330px;
    height: 540px;
    border-radius: 6px;
    object-fit: cover;
}

.hero__img:first-child {
    position: relative;
    margin-right: -6px;
}

.hero__img:last-child {
    width: 210px;
    height: 410px;
}
